In [2]:
import os
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('data/AirQualityUCI.csv', sep=';')

In [14]:
df.sample(10)

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
3881,19/08/2004,11.00.00,"1,1",1011.0,-200.0,"6,1",816.0,33.0,830.0,35.0,1614.0,680.0,"36,9","30,9","1,8934",NaN,NaN
2891,09/07/2004,05.00.00,"0,6",932.0,-200.0,"3,9",707.0,58.0,1011.0,61.0,1509.0,554.0,"26,6","42,8","1,4713",NaN,NaN
3157,20/07/2004,07.00.00,-200,1472.0,-200.0,"24,8",1424.0,314.0,499.0,135.0,2257.0,1808.0,"24,8","43,2","1,3387",NaN,NaN
4966,03/10/2004,16.00.00,-200,1133.0,-200.0,"6,2",823.0,-200.0,775.0,-200.0,1449.0,777.0,"26,9","44,4","1,5510",NaN,NaN
641,06/04/2004,11.00.00,"1,6",1167.0,169.0,"7,6",884.0,105.0,881.0,78.0,1580.0,931.0,"20,2","40,1","0,9370",NaN,NaN
4487,13/09/2004,17.00.00,"3,1",1241.0,-200.0,"18,5",1254.0,360.0,693.0,145.0,1735.0,1149.0,"34,3","24,7","1,3154",NaN,NaN
2700,01/07/2004,06.00.00,"0,9",948.0,-200.0,"6,4",828.0,66.0,858.0,60.0,1711.0,994.0,"24,4","55,2","1,6604",NaN,NaN
4038,26/08/2004,00.00.00,"1,5",969.0,-200.0,"7,0",857.0,75.0,753.0,84.0,1485.0,821.0,"24,3","43,3","1,2973",NaN,NaN
9172,27/03/2005,22.00.00,"1,7",1182.0,-200.0,"6,0",812.0,244.0,650.0,116.0,1368.0,993.0,"14,4","79,0","1,2917",NaN,NaN
2540,24/06/2004,14.00.00,"1,2",988.0,-200.0,"6,0",813.0,52.0,927.0,61.0,1596.0,596.0,"33,4","27,8","1,4119",NaN,NaN

In [11]:
df.shape

(9471, 17)

In [12]:
df.isna().sum()

Date              114
Time              114
CO(GT)            114
PT08.S1(CO)       114
NMHC(GT)          114
C6H6(GT)          114
PT08.S2(NMHC)     114
NOx(GT)           114
PT08.S3(NOx)      114
NO2(GT)           114
PT08.S4(NO2)      114
PT08.S5(O3)       114
T                 114
RH                114
AH                114
Unnamed: 15      9471
Unnamed: 16      9471
dtype: int64